# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Django
*.log
db.sqlite3
/backend/.env
/backend/.env.prod
/backend/staticfiles/

# OS / IDE
.DS_Store
.idea/
.vscode/

# Docker volumes are named, nothing to ignore here

# Python build artifacts
build/
dist/
*.spec
client/installer/Output/
/backend/media/
.claude/
